html,
body,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body,
html {
  min-height: 100vh;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}